html {
  padding: 0em;
  margin: 0em;
  font-family: Helvetica, sans-serif;
  height: 100%; }

body {
  box-sizing: border-box;
  padding: 0em;
  margin: 0em;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

a {
  text-decoration: none;
  box-sizing: border-box; }

.center {
  text-align: center; }

/* @keyframes links {
    0% {color: $white;}
    100% {color: $purple;border-bottom: 2px dotted $yellow;}
}
@keyframes heading {
    0% {color: $blue;}
    25% {color: $purple;}
    50% {color: $pink;}
    75% {color: $yellow;}
    100% {color: $green;}
}
@keyframes focus {
    0% {background-color: rgba(200, 200, 200, 0); }
    50% {background-color: rgba(200, 200, 200, 0.1); }
    100% {background-color: rgba(200, 200, 200, 0); }
} 
@media only screen and (max-width: 720px) {
    section {
        display:block;
    }
} */
